$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
@import "./settings.scss";
@import "./mixins.scss";

// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

body {
  padding: 0;
  > .container,
  > .container-fluid{
    padding-top: rem-calc(60);
  }
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: rem-calc(15);
  padding-right: rem-calc(15);
}

.header {
  .glyphicon-play-circle {
    color: $light-red;
  }
  .glyphicon-facetime-video {
    color: $light-blue;
  }
}

.logo {
  div.icon {
    padding: rem-calc(8 15 15);
  }
  svg.icon {
    max-width: 35px;
    max-height: 35px;
  }
}

.item-card{
  margin-bottom: rem-calc(25);
}

.thumbnail {
  img.poster {
    width: 100%;
  }
}

.genre-box {
  margin: rem-calc(0 0 25);
  overflow-x: hidden;
  span.label {
    display: inline-block;
    margin: rem-calc(2 5 2 0);
  }

}

.stats-box {
  margin: rem-calc(0 0 10);
}

@import "./responsive.scss";