/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: rem-calc(30);
  }
  body {
    > .container,
    > .container-fluid{
      padding-top: rem-calc(85);
    }
  }
}
/* Responsive: Mobile devices minimum than the tablets */
@media screen and (max-width: 767px) {
  body > .container,
  body > .container-fluid {
    padding-top: rem-calc(85);
  }
  .thumbnail {
    margin-bottom: 0;
  }
}
