<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 item-card" data-ng-repeat="m in movies">
        <div data-movie-id-trakt="{{m.movie.ids.trakt}}" data-movie-id-imdb="{{m.movie.ids.imdb}}" data-movie-slug="{{m.movie.ids.slug}}">
            <a href="javascript:void(0);" class="thumbnail">
                <img src="images/yeoman.png" ng-src="{{m.movie.images.poster.thumb}}" class="poster">
            </a>
            <div class="caption">
                <h3>{{m.movie.title}}</h3>
                <div class="genre-box">
                    <label>Genre:&nbsp;<span class="label label-info" data-ng-repeat="gen in m.movie.genres">{{gen}}</span></label>
                </div>
                <div class="row stats-box">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-6">
                            <button class="btn btn-default btn-block" type="button">
                                <span class="glyphicon glyphicon-eye-open"></span>&nbsp;Whatching&nbsp;<span class="badge">{{ser.watcher_count}}</span>
                            </button>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-6">
                            <button class="btn btn-default btn-block" type="button">
                                <span class="glyphicon glyphicon-play"></span>&nbsp;Playing&nbsp;<span class="badge">{{ser.play_count}}</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <a href="#" class="btn btn-warning btn-block" role="button">
                            <span data-ng-if="true"><span class="glyphicon glyphicon-eye-open"></span>&nbsp;I’ve seen this</span>
                            <span data-ng-if="false"><span class="glyphicon glyphicon-eye-close"></span>&nbsp;Watched</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>